name: validate

on:
  push:
    tags:
      - v*
    branches:
      - main
      - v*
  pull_request:

permissions: read-all

env:
  LINT_VERSION: v1.45

jobs:
  codespell:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v3
    - name: install deps
      # Version of codespell bundled with Ubuntu is way old, so use pip.
      run: pip install codespell
    - name: run codespell
      run: codespell
  lint:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v3
      with:
        fetch-depth: 2
    - uses: actions/setup-go@f6164bd8c8acb4a71fb2791a8b6c4024ff038dab # v3
      with:
        go-version: 1.18
    - name: install deps
      run: |
        sudo apt-get -qq update
        sudo apt-get -qq install libseccomp-dev libdevmapper-dev
    - name: lint
      uses: golangci/golangci-lint-action@537aa1903e5d359d0b27dbc19ddd22c5087f3fbc # v3
      with:
        version: "${{ env.LINT_VERSION }}"
        only-new-issues: true
        args: --verbose
    # Extra linters, only checking new code from a pull request.
    - name: Extra golangci-lint config. switcharoo
      run: mv .golangci-extra.yml golangci.yml
    - name: lint-extra
      uses: golangci/golangci-lint-action@537aa1903e5d359d0b27dbc19ddd22c5087f3fbc # v3
      with:
        version: "${{ env.LINT_VERSION }}"
        only-new-issues: true

    - name: validate seccomp
      run: ./tools/validate_seccomp.sh ./pkg/seccomp
